/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

/* html,
body {
    height: 100%;
} */

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* reset end */

/* helpers */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/* shadows from https://www.joshwcomeau.com/shadow-palette/ */

:root {
  --shadow-color: 221deg 23% 66%;
  --shadow-elevation-low:
    0px 0.7px 0.9px hsl(var(--shadow-color) / 0.16),
    0px 1.1px 1.4px -0.7px hsl(var(--shadow-color) / 0.25),
    0px 2.5px 3.2px -1.4px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium:
    0px 0.7px 0.9px hsl(var(--shadow-color) / 0.17),
    0px 2.5px 3.2px -0.5px hsl(var(--shadow-color) / 0.24),
    0px 5.5px 7.1px -0.9px hsl(var(--shadow-color) / 0.31),
    0px 12.3px 15.9px -1.4px hsl(var(--shadow-color) / 0.38);
  --shadow-elevation-high:
    0px 0.7px 0.9px hsl(var(--shadow-color) / 0.16),
    0px 4.5px 5.8px -0.2px hsl(var(--shadow-color) / 0.19),
    0px 8.1px 10.4px -0.4px hsl(var(--shadow-color) / 0.22),
    0px 12.5px 16.1px -0.6px hsl(var(--shadow-color) / 0.26),
    0px 18.5px 23.9px -0.8px hsl(var(--shadow-color) / 0.29),
    0px 27.2px 35.1px -1px hsl(var(--shadow-color) / 0.32),
    -0.1px 39.6px 51.1px -1.2px hsl(var(--shadow-color) / 0.35),
    -0.1px 56.7px 73.1px -1.4px hsl(var(--shadow-color) / 0.38);
}

/* my css begins here */

body {
  font-family: 'Space Mono', monospace;
  font-size: 0.9375rem;
  line-height: 1.5625rem;

  --blue: #0079FF;
  --noresult: #F74646;

  --background: #F6F8FF;
  --box-background: #FEFEFE;
  --title: #222731;
  --heading: #2B3442;
  --text: #4B6A9B;
  --toggle-hover: #222731;

  --border-radius: 15px;

  background-color: var(--background);
  color: var(--text);
}

body.dark-mode {
  --background-color: #141D2F;
  --box-background: #1E2A47;
  --title: white;
  --heading: white;
  --text: white;
  --toggle-hover: #90A4D4;
}

/* additional typography */

h1,
h2,
.bold-number {
  font-size: 1.625rem;
  line-height: 2.375rem;
  font-weight: bold;
}

h1 {
  color: var(--title);
}

h2,
.bold-number {
  color: var(--heading);
}

.login {
  color: var(--blue);
  line-height: 1.5rem;
}

.tiny-heading,
#mode-label {
  font-size: 0.8125rem;
  line-height: 1.25rem;
}

.mode-label {
  text-transform: uppercase;
  margin-right: .5rem;
  font-weight: bold;
  letter-spacing: 2.5px;
}

/* layout containers and boxes */

header,
main {
  margin-left: 20px;
  margin-right: 20px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.form-container,
.response-container {
  background-color: var(--box-background);
  margin-top: 20px;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-elevation-medium);
}

.form-container {
  display: grid;
  grid-template-columns: 20px auto 5.25rem;
  align-items: center;
  padding: 0 8px;
  gap: 5px;
  height: 3.75rem;
}

#search-box {
  border: none;
}

#search-box::placeholder {
  font-size: 0.8125rem;
}

.response-container {
  padding: 16px;
}

.stats-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  text-align: center;
  background-color: var(--background);
  border-radius: var(--border-radius);
  padding: 1rem 20px;
}

.other-info-container {
  display: grid;
  gap: .5rem;
}

.other-info {
  display: grid;
  grid-template-columns: 20px auto;
  gap: .5rem;
}

.other-info-text,
.mode-label {
  display: inline-block;
}

.mode-container {
  display: grid;
  grid-template-columns: auto 20px;
  gap: .5rem;

}

/* small stuff */

.icon {
  display: inline-block;
  max-height: 20px;

}

#avatar {
  width: 70px;
  border-radius: 50%;
}

#search-button {
  border: none;
  border-radius: var(--border-radius);
  background-color: var(--blue);
  color: white;
  font-size: 0.875rem;
  height: 2.875rem;
  width: 5.25rem;
  font-weight: bold;
}